* {
    font-family: Tahoma, sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantag';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';